@font-face {
  font-family: 'NanumMaGoCe';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumMaGoCe/NanumMaGoCe.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumMaGoCe/NanumMaGoCe.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumMaGoCe/NanumMaGoCe.ttf') format('truetype');
}